:root {
  --text: black;
  --bg: white;
  --text-blend: #666;
  --text-blend-2:rgb(182, 182, 182);
  --syntax-data-type: #6161c1;
  --syntax-comment: var(--text-blend-2);
  --syntax-comment: var(--text-blend-2);
  --syntax-value: #b85c00;
  --syntax-keyword: currentColor;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: white;
    --bg: #18191B;
    --text-blend: rgb(200, 200, 200);
    --text-blend-2: rgb(150, 150, 150);
    --syntax-value: orange;
    --syntax-data-type: #8888C7;
  }
}

html {
  scroll-behavior: smooth;
}

#TOC {
  align-items: center;
  border-block: 1px solid currentColor;
  margin-bottom: 2rem;

  &:hover {
    color: var(--text);
  }
  color: var(--text-blend-2);

  > span {
    font-size: 1.2rem;
  }
  ul {
    list-style: none;
  }
  a {
    display: block;
    padding: .2rem .4rem;
    color: currentColor;
    text-decoration: none;
    &:hover {
      background-color: var(--text-blend-2);
    }
  }
}

body {
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
  padding: 0 5vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;

  color: var(--text);
  background-color: var(--bg);
}

header {
  font-family: "Source Code Pro", monospace;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding-block: 2.5rem;

  .header-title {
    font-size: 2rem;
    font-weight: 600;
  }

  .header-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .header-meta {
    font-size: 0.95rem;
    color: var(--text-blend);
    line-height: 1.6;
  }

  .header-author {
    font-weight: 500;
  }

  .header-date {
    font-style: italic;
    opacity: 0.8;
  }
}

.sitenav {
  display: flex;
  justify-content: space-between;
}

p {
  text-align: justify;
}

pre, code {
  font-family: "Source Code Pro", monospace;
}

code {
  white-space: nowrap;
}

/* semantic highlighting */
code.haskell {
  /* DataTypes */
  .dt {
    color: var(--syntax-data-type);
  }
  /* Comment */
  .co {
    color: var(--syntax-comment);
  }
  /* Value */
  .dv {
    color: var(--syntax-value);
  }
  /* Char Literal */
  .ch {
    color: var(--syntax-value);
  }
  /* Char Literal */
  .kw {
    color: var(--syntax-keyword);
    font-weight: bold;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  column-gap: 2rem;
}

.code {
  padding-bottom: 1rem;
  max-width: 100%;
  overflow: auto;
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
  }

  .row {
    grid-template-columns: 1fr;
    gap: 0.0rem;
    margin-bottom: 1rem;
  }

  .row > p {
    margin-bottom: 0;
  }

  .code {
    padding: 0;
  }
}

